.main{
    text-align: center;
}

h2{
    text-align: center
}

p{
    text-align: center;
}

footer{
    background-color: black;
}

.row{
    text-align: center;
}

.w3-card-4{
    display: inline-block;
}

footer{
    height: 100px;
}

.rrss{
    text-align: right;
}

.w3-navbar{
    display: inline-flexbox;
}
